.app-header
{
  background-color: cadetblue;
  color: #FFFFFF;
  .menu-bar
  {
    list-style-type: none;
    li
    {
      float:left;
      a
      {
        color:white;
        text-decoration: none;
        padding: 16px;
        display: block;
        border-bottom: 3px solid transparent;
        &:hover
        {
          color : yellow;
          border-bottom: 3px solid yellow;
        }
      }
    }
  }
}
.listStyle
{
  border-bottom: 1px solid black;
}

.footer
{
  margin : 100px 0px 0px 0px;
}